.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eee8d5;
    border-radius: 2px;
    gap: 8px;
    padding: 8px;
    margin-top: 3px;
    width: max-content;
    max-width: 100%;
}

.total {
    display: flex;
    gap: 2px;
    font-weight: bold;
}

.divider {
    color: #6c71c4;
    font-weight: 300;
}
