* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    color: #657b83;
    background: #fdf6e4;
    font-family: "Source Code Pro", monospace;
    white-space: pre-wrap;
}

a {
    color: #268bd2;
}

a:visited {
    color: #6c71c4;
}
